<ion-view view-title="Barcode" ng-controller="BarcodeCtrl as vm">
  <ion-content class="has-header padding">
    <div class="row">
      <div class="col">
        <button class="button button-full button-balanced" ng-click="vm.scanBarcode()">Scan Barcode</button>
      </div>
      <div class="col">
        <button class="button button-full button-balanced" ng-click="vm.gotoBarcodeUrl()">Go To Barcode URL</button>
      </div>
    </div>

    <h2>{{vm.barCode}}</h2>
    <!--<a href="{{vm.barCodeUrl}}">GET Product Data</a>-->
    <h2>Product Description</h2>
    {{vm.productDescription}}
    <strong>{{vm.error}}</strong>
  </ion-content>
</ion-view>

