<ion-view view-title="Cordova">
  <ion-content>
    <h2>The demos</h2>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/dialog">
        <h2>Basic Dialogs</h2>
        <p>Some examples of dialogs and actions</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/vibration">
        <h2>Good Vibration</h2>
        <p>An example of vibration</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/network">
        <h2>Network</h2>
        <p>Check phone is online or offline</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/device">
        <h2>Device</h2>
        <p>Check device information</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/camera">
        <h2>Camera</h2>
        <p>Some examples of using camera</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/barcode">
        <h2>Barcode Reader</h2>
        <p>Scans a barcode displays result</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/actionsheet">
        <h2>Action Sheet</h2>
        <p>Shows a native sheet of options</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/appversion">
        <h2>App Version</h2>
        <p>Shows App Data Build Version, etc</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/appavail">
        <h2>App Availability Check</h2>
        <p>Shows if well-known app installed</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/sendsms">
        <h2>Send an SMS</h2>
        <p>Send a Text Message</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/datetimepick">
        <h2>Select Date</h2>
        <p>Select Natively a Date and Time</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
