<ion-view view-title="Cordova">
  <ion-content>
    <h2>Cordova Demos Page</h2>
    <p>
      This is the Angular Cordova starter for cross-platform mobile apps.
      For more info, check out the <a href="http://ngcordova.com/" target="_blank">ngCordova Homepage</a>.
    </p>

    <h3>Demos</h3>
    <ul>
      <li>Basic Dialogs</li>
      <li>Good Vibrations</li>
      <li>Photos</li>
      <li>Barcodes</li>
      <li>Devices Info</li>
      <li>Network Status</li>
    </ul>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/dialog">
        <h2>Basic Dialogs</h2>
        <p>Some examples of dialogs with actions</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/vibration">
        <h2>Good Vibration</h2>
        <p>An example of vibration</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/network">
        <h2>Network</h2>
        <p>Checking if phone is online or offline</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/device">
        <h2>Device</h2>
        <p>Checking device information</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/camera">
        <h2>Camera</h2>
        <p>Some examples of using camera or photos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" href="#/tab/barcode">
        <h2>Barcode Reader</h2>
        <p>Scans a barcode and displays result</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
