<ion-view view-title="Dialog" ng-controller="DialogCtrl as vm">
  <ion-content class="has-header padding">
    <button class="button button-full button-balanced" ng-click="vm.alert()">Alert</button>
    <button class="button button-full button-balanced" ng-click="vm.confirm()">Confirm</button>
    <button class="button button-full button-balanced" ng-click="vm.prompt()">Prompt</button>
    <button class="button button-full button-balanced" ng-click="vm.beep()">Beep</button>
  </ion-content>
</ion-view>
