<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Cordova Demos App - Built with Ionic</h2>
    <p>
      This is the Angular Cordova starter for cross-platform mobile apps.
      For more info, check out the <a href="http://ngcordova.com/" target="_blank">ngCordova Homepage</a>.
    </p>

    <h3>Demos</h3>
    <ul>
      <li>Basic Dialogs</li>
      <li>Good Vibrations</li>
      <li>Photos</li>
      <li>Barcodes</li>
      <li>Devices Info</li>
      <li>Network Status</li>
      <li>Availability of twitter App</li>
      <li>Send a hard-coded SMS</li>
      <li>Native Date-Time Picker</li>
    </ul>
    <h3>Devices used in testing</h3>
    <li>iPhone 6 iOS 9.2</li>
    <li>iPad 3</li>
    <li>Nexus 5X Android 6.0.1</li>
    <li>Nokia Lumia 625 Windows Phone 8.1</li>
  </ion-content>
</ion-view>
